
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
	--darkgrey: rgba(40, 39, 37, 0.9);
	--hell: #FAFAFA;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
	background-color: var(--darkgrey);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


html {
	box-sizing: border-box;
}

body.preload *, body.preload *:before, body.preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body, input, textarea, select {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.75em;
}

strong, b, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1 {
	letter-spacing: -0.015em;
}

h2 {
	letter-spacing: -0.015em;
	margin-bottom: 2rem;
	text-align: center;
}

h3, h4, h5, h6 {
	letter-spacing: -0.015em;
}

blockquote {
	border-left: solid 0.5em #ddd;
	padding: 1em 0 1em 2em;
	font-style: italic;
}

em, i {
	font-style: italic;
}

hr {
	border: 0;
	border-top: solid 1px #ddd;
	padding: 1.5em 0 0 0;
	margin: 1.75em 0 0 0;
}

sub {
	position: relative;
	top: 0.5em;
}

sup {
	position: relative;
	top: -0.5em;
}

br.clear {
	clear: both;
}

ul, ol, dl, table, blockquote, form {
	margin-bottom: 2em;
}

section, article {
	margin-bottom: 3em;
}

section > :last-child, section:last-child, article > :last-child, article:last-child {
	margin-bottom: 0;
}

header {
	margin: 0 0 1.5em 0;
	color: var(--darkgrey);
}

.image {
	display: inline-block;
}

.image img {
	display: block;
	width: 100%;
}

.image.fit {
	display: block;
	width: 100%;
}

.image.featured {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image.left {
	float: left;
	margin: 0 2em 2em 0;
}

.image.centered {
	display: block;
	margin: 0 0 2em 0;
}

.image.centered img {
	margin: 0 auto;
	width: auto;
}


input[type="button"], button, .button {
	-moz-transition: background-color 250ms ease-out;
	-ms-transition: background-color 250ms ease-out;
	-webkit-transition: background-color 250ms ease-out;
	transition: background-color 250ms ease-out;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--hell);
	color: var(--darkgrey);
	border: 1px solid var(--darkgrey);
	border-radius: .5rem;
	outline: 0;
	padding: 1rem 2rem;
	text-decoration: none;
	text-align: center;
}

input[type="button"]:hover, button:hover, .button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#contact.panel {
	text-align: center;
}

#contact-btn {
	display: inline-block;
	margin: 2rem 0;
	color: var(--darkgrey);
}

#contact-btn:hover {
	color: var(--hell);
	background-color: var(--darkgrey);
	border-color: transparent;
}

#nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 1rem;
}

#nav svg {
	fill: var(--hell);
	width: 2em;
	height: 2em;
}

#nav a {
	position: relative;
	display: inline-block;
	color: var(--hell);
	margin: 0 1rem 1rem;
	opacity: 0.35;
	transform: scale(1.0);
	outline: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#nav a.icon:before {
	padding-right: 0;
}

#nav a span {
	display: block;
	position: absolute;
	background: var(--darkgrey);
	color: var(--hell);
	top: -2.75em;
	height: 2.25em;
	line-height: 2.25em;
	left: 50%;
	opacity: 0;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
	width: 5.5em;
	margin-left: -2.75em;
}

#nav a span:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -0.4em;
	left: 50%;
	margin-left: -0.6em;
	border-top: solid 0.6em var(--darkgrey);
	border-left: solid 0.6em transparent;
	border-right: solid 0.6em transparent;
}

#nav a:hover, #nav a:hover span, #nav a.active {
	opacity: 1.0;
	transform: scale(1.33);
}

#nav a.active:after {
	border-bottom-width: 0.5em;
}

#wrapper {
	width: 75%;
	margin: 0 auto;
	min-height: 100vh;
	max-width: 100%;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

body.preload #wrapper {
	opacity: 0;
}

#main {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-height: 75vh;
	background: var(--hell);;
	-moz-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	-webkit-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	-ms-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
	-webkit-box-shadow: 5px 5px 20px 0px var(--hell);
	-moz-box-shadow: 5px 5px 20px 0px var(--hell);
	box-shadow: 5px 5px 20px 0px var(--hell);
	border-radius: .5rem;
}

#main > .panel {
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	margin-bottom: 0;
	position: relative;
	padding: 2rem;
}

#main > .panel.inactive {
	opacity: 0;
}

#main > .panel.intro {
	padding: 0;
	height: 100%;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

#main > .panel.intro .pic {
	text-decoration: none;
	position: relative;
	overflow: hidden;
	width: 50%;
	height: 100%;
}

#main > .panel.intro .pic img {
	position: relative;
	display: block;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: .5rem;

	-moz-object-fit: cover;
	-webkit-object-fit: cover;
	-ms-object-fit: cover;
	object-fit: cover;

	-moz-object-position: right top;
	-webkit-object-position: right top;
	-ms-object-position: right top;
	object-position: right top;

	filter: sepia(50%);
}

#main > .panel.intro .pic .arrow {
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -1.375em;
	width: 2.75em;
	height: 2.75em;
	background-color: var(--darkgrey);
	text-align: center;
	line-height: 2.75em;
	z-index: 1;
	-moz-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
	-webkit-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
	-ms-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
	transition: width .15s ease-in-out, padding-right .15s ease-in-out;
}

#main > .panel.intro .pic .arrow:before {
	position: relative;
	padding-right: 0;
	top: 0.125em;
}

#main > .panel.intro .pic .arrow span {
	display: block;
	text-indent: -9999px;
}

#main > .panel.intro .pic:hover .arrow {
	width: 3em;
	padding-right: 0.25em;
}

#main > .panel.intro header {
	padding: 2em;
	margin-bottom: 0;
	width: 50%;
}

#main > .panel.intro header h1 {
	line-height: 1.25em;
	margin-bottom: 0;
}

#main > .panel.intro header p {
	letter-spacing: -0.015em;
}
#main > .panel.intro header p:not(.last) {
	margin-bottom: .5rem;
}

#footer {
	color: var(--hell);
	text-align: center;
	padding: 2rem 0 0 0;
	font-size: .7em;
}

#home > header p.element {
	margin-left: 1.5rem;
	margin-bottom: 0;
}

article#work section {
	height: 25rem;
}

#typewriter {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden auto;
	margin: 0;
	padding: 0;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	line-height: 2.5rem;
	align-content: center;
	justify-content: flex-start;
}

.wrd {
	flex-grow: 0;
	padding: 0 .5rem;
	color: var(--darkgrey);
	border-radius: .5rem;
	margin: .5rem;
}

.wrd.border {
	border: thin solid var(--darkgrey);
}

.wrd:hover {
	color: var(--hell);
	background-color: var(--darkgrey);
	border-radius: .5rem;
}

.ml {
	margin-left: .5rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mx {
	margin-left: .5rem;
	margin-right: .5rem;
}

.mt-0 {
	margin-top: 0;
}


@media screen and (width < 675px) {
	#main > .panel.intro {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#main > .panel.intro .pic {
		width: 75%;
	}
	#main {
		max-height: unset;
	}
}
@media screen and (width >= 675px) {
	#main {
		max-height: 75vh;
	}
}
@media screen and (width < 425px) {
	body { font-size: 14px; }
}
@media screen and (width >= 425px) and (width < 768px) {
	body { 	font-size: 16px; }
}
@media screen and (width >= 768px) {
	body { font-size: 18px; }
}
@media screen and (width >= 1024px) {
	body { font-size: 20px; }
}
@media screen and (width >= 1400px) {
	body { font-size: 22px; }
}
